<h2 class="smaller-title">You are amazing!</h2>
<p class="longer-text">Thank you for the gift and for being a part of our lives.</p>
<%= link_to 'View Wedding Details', :details, class: 'details-link' %>
