<p>We got your RSVP saved. Cannot wait to see you<% if @guest.guest && @guest.guest.rsvpd %> and <%= @guest.guest.first_name %> <% end %> on <%= ApplicationHelper::WEDDING_DATE.to_formatted_s(:long_ordinal) %>!</p>
