<% if @guest.rsvp %>
  <p class="longer-text banana-man">We got your RSVP saved.<br>Cannot wait to see you on <strong><%= ApplicationHelper::WEDDING_DATE.to_formatted_s(:long_ordinal) %></strong>!</p>

<% else %>
  <h1 class="smaller-title">Bummer!</h1>
  <p class="text">Sorry to hear you can't make it. If anything does change you can always come back and update your RSVP.</p>
<% end %>

<%= link_to 'Wedding Details', :details, class: 'details-link' %>
<%= link_to 'Honeymoon Registry', :gift, class: 'details-link' %>
