@font-face {
  font-family: 'BlingtasticScript';
  src: font-url('BlingtasticScript.eot');
  src: font-url('BlingtasticScript.eot?#iefix') format('embedded-opentype'),
    font-url('BlingtasticScript.woff') format('woff'),
    font-url('BlingtasticScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Breathe';
  src: font-url('Breathe-Regular.eot');
  src: font-url('Breathe-Regular.eot?#iefix') format('embedded-opentype'),
    font-url('Breathe-Regular.woff') format('woff'),
    font-url('Breathe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
